.body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

main {
  display: grid;
  grid-template-columns: 2fr 0.9fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.jacket-container {
  grid-column: 1 / 2;
  display: inline-flex;
  flex-direction: column;
}

.top-bar {
  display: inline-flex;
  justify-content: space-between;
}

.jacket-specs {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.info-line {
  display: grid;
  grid-template-columns: 2.7fr 1fr 1fr 1fr;
}

.sum {
  display: grid;
  grid-template-columns: 3.6fr 1.3fr 0.8fr;
}

.cart-line {
  height: 1px;
  width: 100%;
  max-width: 1000px;
  background-color: #969696;
}

.progress-bar {
  max-width: 100%;
}

.quantity {
  width: 100%;
  max-width: 100px;
}

.back {
  text-decoration: none;
  color: #ee9c47;
}

.thumb-2 {
  width: 100%;
  max-width: 122px;
  max-height: 122px;
}

/* login section */
/* ------login section--------- */
.login {
  grid-column: 2 / 3;
  background-color: #e2e2eb;
  padding: 10%;
  border-radius: 2rem;
  margin-top: 20px;
}

h5 {
  font-size: 1rem;
}

form {
  display: flex;
  flex-flow: column wrap;
}

input {
  border-radius: 0.5rem;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: 3px solid var(--orange);
  border: none;
}

form p {
  margin: 0px;
  text-align: center;
  font-size: 0.9rem;
}

.signup {
  font-weight: 700;
  font-size: 1rem;
}

.flex {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login p,
.login a {
  margin: auto;
  margin-bottom: 5px;
}

.continue {
  display: none;
}

.login .loginBtn {
  margin: inherit;
  margin-top: 40px;
}

.small-gray-text {
  color: var(--gray);
  font-size: 14px;
}

.card-name,
#signupBtn {
  margin-top: 20px;
}

.card-details {
  display: flex;
  margin-bottom: 40px;
}

.ccv {
  margin-left: 20px;
}

.confirmation {
  margin-top: 50px;
}

/* login error */

.loginError {
  color: rgb(158, 41, 25);
  display: none;
}

/*//////////////////mobile//////////////////////*/
@media (min-width: 200px) and (max-width: 709px) {
  main {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .info-line {
    display: grid;
    grid-template-columns: 2.7fr 1fr 0.8fr;
  }

  .sum {
    display: grid;
    grid-template-columns: 3.2fr 1.3fr 0.8fr;
  }

  .progress-bar {
    width: 100%;
    max-width: 200px;
  }

  .quantity {
    max-width: 70px;
  }

  .thumb-2 {
    max-width: 80px;
    max-height: 80px;
  }

  p {
    font-size: 0.8rem;
  }

  .price {
    display: none;
  }

  .login {
    display: none;
  }

  .continue {
    display: inherit;
    font-size: 1rem;
    color: #ee9c47;
  }

  .back-continue {
    display: inline-flex;
    justify-content: space-between;
  }
}
