/* global styles*/

@font-face {
  font-family: "inter", "neue-haas-unica" sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
  src: url("https://use.typekit.net/gzy8fgh.css");
}

:root {
  --main: #0a3641;
  --orange: #ee9c47;
  --green: #8dba7e;
  --white: #ffffff;
  --light-blue: #e2e2eb;
  --gray: #969696;
  --dark-gray: #707070;
}

body {
  margin: 0;
  font-family: "inter", "helvetica", sans-serif;
  color: var(--main);
}

.body {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header header header"
    "nav main main main"
    "footer footer footer footer";
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

h1,
h2,
h3 {
  font-family: "neue-haas-unica", "helvetica", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  grid-column: 2 / 11;
}

.h1-about,
.h1-contact {
  text-transform: none;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.5625rem;
  text-transform: none;
}

.box-1 a {
  color: var(--main);
}

.top-line {
  width: 100%;
  height: 10px;
  background-color: var(--main);
}

/*---------------header--------------*/
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 150px;
  background-color: var(--white);
}

.logo {
  max-width: 150px;
}

/*top icons navigation*/
.topnav {
  display: inline-flex;
  justify-content: space-between;
  width: 5%;
  grid-column: 4 / 5;
  align-items: end;
}

.item {
  display: flex;
  align-items: center;
  width: 7.5rem;
  height: 2.5rem;
  margin: 0.5rem;
}

/*---------navigation-----------*/
#hamburger-menu {
  display: none;
}

.fas.fa-bars {
  display: none;
}

nav {
  grid-area: nav;
}

nav ul {
  padding-left: 0px;
  margin-right: 50px;
}

nav li {
  padding-bottom: 17px;
  list-style-type: none;
}

nav a {
  color: var(--main);
  text-decoration: none;
}

nav a:hover {
  color: var(--orange);
}

.navbar {
  margin-top: 35px;
  height: 100vh;
  color: var(--main);
  font-family: "Inter", helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.active {
  color: var(--orange);
}

.line-nav {
  max-width: 60px;
  height: 2px;
  background-color: var(--light-blue);
  margin-bottom: 20px;
}

/*---------buttons-----------*/

.btn-large {
  border-radius: 1.5rem;
  background: var(--orange);
  color: var(--white);
  padding: 0.6rem 3rem;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.btn-large.cart {
  display: block;
  width: 100%;
  margin-left: 0;
}

.btn-large.green {
  background: var(--green);
  margin-top: 15px;
}

/*--------images-----------*/
.large {
  width: 100%;
  max-width: 1088px;
  max-height: 456px;
  transition: transform 0.2s;
}

.medium {
  width: 100%;
  max-width: 1fr;
  max-height: 279px;
  transition: transform 0.2s;
}

.medium-square {
  width: 100%;
  max-width: 536px;
  max-height: 536px;
}

.small {
  width: 100%;
  max-width: 343px;
  max-height: 343px;
  transition: transform 0.2s;
}

.small:hover,
.medium:hover,
.large:hover {
  transform: scale(1.03);
}

.thumb {
  max-width: 100%;
  max-width: 160px;
  max-height: 160px;
}

.thumb-2 {
  width: 100%;
  max-width: 122px;
}

/*-------index main layout----------*/

main {
  grid-area: main;
}
.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 40px;
  grid-gap: 20px;
  justify-items: center;
}

.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-auto-columns: minmax(171px, auto);
  justify-items: center;
}

.box-1 {
  max-width: 1fr;
}

.like-icon {
  float: right;
  margin-top: 10px;
}

.rating,
.colors,
.price {
  padding-bottom: 5px;
  margin-left: 5px;
}

.price.dropped {
  color: var(--orange);
}

.jacket-title,
.like-icon {
  display: inline-block;
}

s {
  color: var(--gray);
}

.box-1 {
  position: relative;
}

.sale,
.new {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 60px;
}

/* -----------men's jacket----------- */

#sort-by {
  background-color: white;
  color: var(--main);
  border: none;
  font-weight: 700;
  appearance: none;
}

.container-3.mens {
  margin-top: 20px;
}

/* -----------jacket page------------ */
.breadcrumb {
  font-size: 0.8rem;
}

a.breadcrumb {
  text-decoration: none;
  color: var(--main);
}

#color-select,
#size-select {
  max-width: 80px;
  text-align: center;
  background-color: var(--light-blue);
  color: var(--main);
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  appearance: none;
  margin-left: 5px;
  margin-bottom: 10%;
}

label[for="color-select"],
[for="size-select"] {
  font-size: 0.8rem;
}

.container-jacket {
  display: grid;
  grid-template-columns: 50% 30%;
  grid-template-rows: auto;
  grid-gap: 10%;
  margin-top: 20px;
}

.box-2 {
  grid-column: 1 / 2;
}

.box-3 {
  grid-column: 2 / 3;
  justify-items: center;
}

.thumb-images {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  max-height: 160px;
}

.forest {
  text-transform: none;
  margin-top: 0px;
}

.favorite-icon {
  float: right;
}

select {
  max-width: 200px;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--light-blue);
  color: black;
}

/* -------------about------------------
------------------------------------- */
img.about {
  width: 100%;
  max-width: 1088px;
}

.line {
  width: 60px;
  height: 10px;
  background-color: var(--main);
  margin-bottom: 20px;
}

/* -------------contact------------------
------------------------------------- */
form {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.first-name {
  grid-column: 1 / 2;
}
.last-name {
  grid-column: 2 / 3;
}
.e-mail {
  grid-column: 1 / 3;
}
.textarea {
  grid-column: 1 / 3;
}

form label {
  color: var(--gray);
  font-size: 0.8rem;
}

input {
  border-radius: 0.3rem;
  width: 100%;
  min-height: 30px;
}

textarea {
  grid-column: 1 / 3;
  width: 100%;
  min-height: 200px;
  border-radius: 0.3rem;
  color: var(--gray);
}

input[type="submit"] {
  text-decoration: none;
  border-radius: 1.5rem;
  background: var(--orange);
  color: var(--white);
  padding: 0.6rem 3rem;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: 3px solid var(--orange);
  border: none;
}

/*------------footer------------------*/
footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-blue);
  padding: 30px 150px;
  margin-top: 100px;
}

footer p {
  font-size: 0.7rem;
}

/*/////////////////tablets////////////////////
-------------------------------------------- */

@media (min-width: 710px) and (max-width: 1150px) {
  .body {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header icons"
      "nav nav"
      "main main"
      "footer footer";
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  /* --------------navigation------------- */
  .fas.fa-bars {
    display: inherit;
    grid-area: icons;
  }

  nav {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }

  nav li {
    display: inline-block;
    margin-right: 15px;
  }

  .navbar {
    height: 10px;
    font-size: 1rem;
  }

  .line-nav {
    display: none;
  }

  .social {
    max-width: 20px;
  }

  .icon {
    max-width: 15px;
  }

  .new,
  .sale {
    max-width: 60px;
  }

  .price {
    font-size: 0.8rem;
  }

  footer {
    padding: 30px;
    margin-top: 50px;
  }

  .footer-info {
    display: none;
  }
}

/*//////////////////mobile//////////////////////*/
@media (min-width: 200px) and (max-width: 709px) {
  .body {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header icons"
      "nav nav"
      "main main"
      "footer footer";
  }

  .logo {
    max-width: 100px;
  }

  h1 {
    font-size: 1.2rem;
    margin-top: 0px;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
    margin-top: 2px;
  }

  p {
    font-size: 16px;
  }

  /* ------navigation------ */

  .fas.fa-bars {
    display: inherit;
    grid-area: icons;
    margin-top: 10px;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }

  nav {
    display: none;
    grid-area: nav;
    margin-bottom: 20px;
  }

  nav li {
    display: inline-block;
    margin-right: 1%;
    padding-bottom: 5px;
  }

  .navbar {
    height: 10px;
    font-size: 0.8rem;
    margin-top: 0px;
  }

  .line-nav {
    display: none;
  }

  .social {
    max-width: 20px;
  }

  .item {
    max-width: 20px;
    align-items: start;
  }

  /* ----------layout----------- */
  /*FIND YOUR NEXT RAIN JACKET*/
  .container-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  /*FEATURED ITEMS*/
  .container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-columns: minmax(150px, auto);
  }
  /* elements */

  .line {
    height: 8px;
  }
  .price {
    font-size: 0.7rem;
  }

  .new,
  .sale {
    max-width: 40px;
    top: 10px;
    left: 10px;
  }

  .btn-large {
    padding: 0.4rem 6rem;
    font-weight: 700;
    font-size: 0.7rem;
  }

  .btn-large.one {
    grid-row: 2 / 3;
  }

  .like-icon {
    float: right;
    margin-top: 5px;
  }

  .rating,
  .colors {
    margin-top: 2px;
    padding-bottom: 2px;
    margin-left: 2px;
  }

  /* ----------jacket page-------- */

  .container-jacket {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin-top: 0px;
  }

  .thumb-images {
    width: 100%;
  }

  .thumb {
    max-width: 100%;
  }

  /* -------------footer----------- */

  footer {
    padding: 30px;
    margin-top: 50px;
  }

  footer p {
    font-size: 0.7rem;
  }

  .subscribe,
  .footer-info {
    display: none;
  }
}
