@font-face {
  font-family: "inter", "neue-haas-unica" sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
  src: url("https://use.typekit.net/gzy8fgh.css");
}

body {
  font-family: "inter", "helvetica", sans-serif;
  color: #0a3641;
}

h1,
h2,
h3 {
  font-family: "neue-haas-unica", "helvetica", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2.375rem;
  margin-left: 279px;
}

h2 {
  font-size: 1.875rem;
  margin-left: 279px;
}

h3 {
  font-size: 1.5625rem;
  text-transform: none;
}

p {
  font-size: 1rem;
}

/*---------header------------------
----------------------------------*/

.logo {
  display: inline;
  max-width: 163px;
  padding: 0;
  margin-top: 77px;
  margin-right: auto;
  margin-bottom: 77px;
  margin-left: 279px;
}

/*top icons navigation*/
.topnav {
  float: right;
  margin-top: 77px;
  margin-right: 279px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 5%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  width: 7.5rem;
  height: 2.5rem;
  margin: 1rem;
}

.social {
  margin: 10px;
}

/*---------navigation-----------
------------------------------*/

nav ul {
  padding-left: 0px;
}

nav li {
  padding: 10px;
}

nav {
  display: inline;
}

nav a {
  color: #0a3641;
  text-decoration: none;
}

nav a:hover {
  color: #ee9c47;
}

.navbar {
  float: left;
  color: #0a3641;
  font-family: "Inter", helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.active {
  color: #ee9c47;
}

hr {
  width: 72px;
  height: 2px;
  color: #e2e2eb;
}

/*------buttons-----------
-------------------------*/

.btn-large {
  display: inline-block;
  border-radius: 1.5rem;
  background: #ee9c47;
  color: #ffffff;
  padding: 0.6rem 3rem;
  border: 0;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

/*--------images-----------
--------------------------*/
.large {
  max-width: 1088px;
  max-height: 456px;
}

.medium {
  max-width: 536px;
  max-height: 279px;
}

.small {
  max-width: 343px;
  max-height: 343px;
}

/*-------index main layout-----------
------------------------------------*/

/*FIND YOUR NEXT RAIN JACKET*/
.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  grid-auto-columns: auto;
  justify-items: center;
  margin-top: 20px;
  margin-left: 280px;
  margin-right: 280px;
}

/*EPLORE OUR NEW COLLECTION*/
.container-2 {
  display: inline-block;
  margin-left: 279px;
  padding: none;
  border: none;
}

/*FEATURED ITEMS*/
.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 29px;
  grid-auto-columns: minmax(171px, auto);
  justify-items: center;
  margin-top: 20px;
  margin-left: 280px;
  margin-right: 280px;
}

.like-icon {
  float: right;
  margin-top: 30px;
}

.rating,
.colors,
.price {
  padding-bottom: 5px;
  margin-left: 5px;
}

/* ???????? */
.price.dropped {
  color: #ee9c47;
}

.jacket-title,
.like-icon {
  display: inline-block;
}

s {
  color: #969696;
}

.box-1 {
  position: relative;
}

.sale,
.new {
  position: absolute;
  top: 20px;
  left: 20px;
}

/*------------footer------------------
-------------------------------------*/
footer {
  background-color: #e2e2eb76;
  padding: 30px 279px;
  margin-top: 190px;
}
