@font-face {
  font-family: "inter", "neue-haas-unica" sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
  src: url("https://use.typekit.net/gzy8fgh.css");
}

body {
  font-family: "inter", "helvetica", sans-serif;
  font-size: 1rem;
  margin: 0;
}

.line {
  width: 100%;
  height: 13px;
  background-color: #0a3641;
}

.logo {
  max-height: 87px;
  max-width: 163px;
  padding: 0;
  margin: 77px 1479px 77px 279px;
}

/* top icons shortcuts*/
.topnav {
  float: right;
  margin-right: 279px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 5%;
}

/*navigation*/
nav ul {
  padding-left: 0px;
}

nav li {
  padding: 10px;
}

nav a {
  color: #0a3641;
  text-decoration: none;
}

nav a:hover {
  color: #ee9c47;
}

.navbar {
  color: #0a3641;
  font-family: "Inter", helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.active {
  color: #ee9c47;
}

.social {
  margin: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  width: 7.5rem;
  height: 2.5rem;
  margin: 1rem;
}

.btn-large {
  display: inline-block;
  border-radius: 1.5rem;
  background: #ee9c47;
  color: #ffffff;
  padding: 0.6rem 3rem;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

hr {
  width: 72px;
  height: 2px;
  color: #e2e2eb;
}

h1,
h2,
h3 {
  color: #0a3641;
  font-family: "neue-haas-unica", "helvetica", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2.375rem;
  text-align: center;
}

h2 {
  font-size: 1.875rem;
  margin-left: 279px;
}

h3 {
  font-size: 1.5625rem;
  text-transform: none;
}

.large {
  max-width: 1088px;
  max-height: 456px;
}

.medium {
  max-width: 536px;
  max-height: 279px;
}

.small {
  max-width: 343px;
  max-height: 343px;
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-columns: auto;
  justify-items: center;
  margin-top: 20px;
  margin-left: 280px;
  margin-right: 280px;
}

.container-2 {
  display: inline-block;
  margin-left: 279px;
  padding: none;
  border: none;
}

.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-columns: minmax(171px, auto);
  justify-items: center;
  margin-top: 20px;
  margin-left: 280px;
  margin-right: 280px;
}

/*footer*/
footer {
  background-color: #e2e2eb76;
  padding: 30px 279px;
  margin-top: 190px;
}
